@import "../../../../scss/mixins";

.card {
  gap: 20px;
  height: 458px;
  width: 306px;

  @include mobile {
    box-shadow: 3px 3px 8px #969696a2;
  }

  &:hover {
    box-shadow: 3px 3px 8px #969696a2;
  }

  img {
    height: 384px;
    width: 306px;
  }

  .infos {
    padding: 10px;

    #name {
      color: #777777;
      margin-bottom: 10px;
    }
  }
}
