@import "../../../../scss/mixins";

.card {
  gap: 20px;
  height: 480px;
  width: 306px;

  @include mobile {
    box-shadow: 3px 3px 8px #969696a2;
  }

  &:hover {
    box-shadow: 3px 3px 8px #969696a2;

    .infos {
      padding: 10px;

      #heart {
        display: block;
      }
    }
  }

  img {
    height: 384px;
    width: 306px;
  }

  .infos {
    padding: 10px;
    // height: 50px;

    #name {
      color: #777777;
      margin-bottom: 10px;
    }

    #price {
      color: #000000;
      margin-bottom: 10px;

    }

    #heart {
      position: relative;
      bottom: 45px;
      right: 20px;
      display: none;
      font-size: 1.5rem;
      color: #777777;
      float: right;
    }
  }
}
