@import '../../../scss/mixins';

.main_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 73.25vw;
    border: 1px solid #ececec;
  }

  .banner {
    background-image: url("../../../assets/images/banner1.jpg");

    height: 676px;
    width: 100vw;
    margin-bottom: 90px;

    @include mobile {
      background-size: 100%;
      height: 140px;
      margin: 40px 0;
    }
  }
}
