@import '../../../scss/mixins';

.main_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 73.25vw;
    border: 1px solid #ececec;
  }

  .banner {
    background-image: url("../../../assets/images/banner2.jpg");

    height: 676px;
    width: 100vw;
    margin-bottom: 90px;

    span {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 10% 15%;

      @include tablet {
        padding: 10% 2%;

        p {
          width: 300px;
        }
      }

      @include mobile {
        display: none;
      }
    }

    .btn {
      margin: 0;
    }


    @include mobile {
      background-size: 100%;
      height: 240px;
      margin: 40px 0;
    }

    @include tablet {
      background-size: 100%;
      height: 340px;
      margin: 40px 0;
    }
  }
}
