.main_header {
  margin: 0 auto;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;

  span {
    display: flex;
    justify-content: space-between;

    h1 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 500;
    }
  }


  .Header_nav {
    margin: 0 auto;
    width: 50%;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      li:last-child {
        color: red;
      }
    }
  }
}
