.main_footer {
  background-color: #fafafa;
  height: 45vh;
  font-weight: 600;



  div {
    margin: 0 auto;
    padding: 50px 0;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;

    ul {
      width: 60%;
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1.25rem;
    }

    span>button {
      width: 70%;
      height: 30%;
      margin-top: 10%;
      padding-right: 5%;
      text-align: end;
      background-color: #fff;
      border: 1px solid gray;
    }
  }

  hr {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ececec;
  }

  footer {
    margin: 0 auto;
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
    }
  }
}
