.main_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 70%;
    border: 1px solid #ececec;
  }

  button {
    height: 50px;
    width: 10%;
    margin: 0px auto;
    margin-bottom: 100px;
  }

  .banner {
    background-image: url("../../public/assets/images/banner2.jpg");
    height: 80vh;
    margin-bottom: 100px;
  }
}
