.main_content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 73.25vw;
    border: 1px solid #ececec;
  }

  .banner {
    background-image: url("../assets/images/banner2.jpg");
    height: 676px;
    margin-bottom: 90px;
  }
}
